/* LAYOUT */

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#main {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    box-orient: horizontal;
}

#snippets-list {
    width: 75%;
    background: #3E2723;
    box-flex: 0;
}

#snippets-form {
    width: 25%;
    background: yellow;
    text-align: center;
    box-flex: 1;
}


/* FORM */
#snippet-form {
    margin: 20px;
    border: 2px solid #000;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#snippet-form input,
#snippet-form textarea,
#snippet-form select {
    width: 33.33%;
    padding: 10px;
    line-height: 1;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    border: 0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background: #fff;
}

#snippet-form input:focus,
#snippet-form textarea:focus,
#snippet-form select:focus {
    outline: 0;
    background: #fef2de;
}

#snippet-form textarea {
    width: 100%;
    height: 400px;
}

#snippet-form input:last-of-type {
    width: 100%;
}

#snippet-form button {
    width: 100%;
    border: 0;
}


/* LIST */
#snippets-list ul {
    margin: 20px;
    padding: 0;
}

#snippets-list li {
    margin: 10px auto;
    padding: 0 20px;
    border: solid 1px #777;
    background-color: #CCC;
    list-style: none;
}

#snippets-list .snippet-item {
    position: relative;
}

#snippets-list .snippet-item pre {
    padding: 20px;
    text-align: left;
    border: solid 1px #AAA;
    background-color: #FFF;
    font-family: 'Roboto Mono', monospace;
}

#snippets-list .submit-actions {
    position: absolute;
    top: 20px;
    right: 20px;
}

#snippets-list .submit-actions button {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    padding: 0;
    text-align: center;
}